[Unit]
Description=Dockerized sv_crm
After=docker.service
Requires=docker.service
[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory= /sv_crm
ExecStart=/usr/local/bin/docker-compose -f /sv_crm/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /sv_crm/docker-compose.yml down
[Install]
WantedBy=multi-user.target